# Compiled Object files
.DS_Store
.DS_Store?
NSolver.sublime-project
NSolver.sublime-workspace
test_cases.sum


*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
